<nav class="light-blue lighten-2" role="navigation">
    <div class="nav-wrapper">
        <!-- Brand Logo -->
        <a href="#!" class="brand-logo center">Articles</a>

        <!-- Sidenav Trigger for Mobile -->
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="material-icons">menu</i>
        </a>

        <!-- Navbar for Desktop -->
        <ul class="right hide-on-med-and-down">
            <li><a href="/articles">Public Articles</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>

        <!-- Sidenav for Mobile -->
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/articles">Public Articles</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</nav>
